/**
 * buttonControls module CSS
 *
 * @category	Style Sheets
 * @filesource	css/buttonControls.css
 * @version		2.0
 */
#buttonControls.buttonControls {
    width: 270px;
    height: 200px;
    top: 0px;
    left: 790px;
}

.codeEditor {
    width: 600px !important;
    height: 350px !important;
    top: 60px !important;
    left: 100px !important;
    z-index: 100;
}

.editor {
    left: 20px;
    width: 560px;
    top: 40px;
    height: 250px;
}

.ace_line {
    position: relative;
}

.ace_gutter-cell {
    position: relative;
}

.codeEditor .button {
    top: 294px !important;
    text-align: center;
    width: 190px;
    line-height: 50px;
    font-size: 26px;
    height: 50px;
    border: 1px solid #393939;
}

.codeEditor .OkButton {
    left: 5px !important;
}

.codeEditor .ResetButton {
    right: 5px !important;
}

.codeEditor .DeleteButton {
    margin-left: 204px;
}

.codeEditor .backButton {
    top: 0 !important;
    width: 70px !important;
    height: 38px;
    font-size: 20px;
    line-height: 38px;
}

#driverDistractionControl.driverDistractionControl {
    width: 302px;
    height: 20px;
    top: 423px;
    left: 810px;
}

#driverDistractionControl .driverDistractionControlLabel {
    left: 20px;
}

#keyboard_view .back-button {
    top: 58px;
}

#keyboard_view .keyboardLayout {
    width: 750px;
    height: 250px;
    top: 140px;
    left: 25px;
}

#keyboard_view .NumericLayout {
    left: 77px;
    width: 660px;
    top: 135px;
}

#keyboard_view .searchBar {
    top: 58px;
    width: 680px;
    height: 49px;
    left: 120px;
}

#keyboard_view input {
    width: 542px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 2px;
    background: rgba(119, 119, 119, 0.42);
    font-size: 32px;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
}

#keyboard_view .microphone {
    text-align: center;
    line-height: 49px;
}

#keyboard_view .clearBtn {
    right: 60px;
    top: 0px;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 2px;
    font-size: 32px;
    text-align: center;
    line-height: 50px;
}

#keyboard_view .maskBtn {
    right: 115px;
    top: 0px;
    width: 48px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    background: transparent;
    padding-top: 10px;
}

#keyboard_view .searchBtn {
    right: 5px;
    top: 0px;
    width: 48px;
    height: 43px;
    border: 1px solid #333;
    border-radius: 2px;
    font-size: 32px;
    text-align: center;
    line-height: 50px;
    padding-top: 5px;
}

#keyboard_view .microphone {
    left: 63px;
    top: 58px;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 2px;
}

#keyboard_view .keyboardLayout .ffw-button {
    width: 60px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #333;
    margin: 5px;
    font-size: 42px;
    text-align: center;
    line-height: 50px;
}

#keyboard_view .keyboardLayout .col0 {
    left: 5px;
}

#keyboard_view .keyboardLayout .col1 {
    left: 75px;
}

#keyboard_view .keyboardLayout .col2 {
    left: 150px;
}

#keyboard_view .keyboardLayout .col3 {
    left: 225px;
}

#keyboard_view .keyboardLayout .col4 {
    left: 300px;
}

#keyboard_view .keyboardLayout .col5 {
    left: 375px;
}

#keyboard_view .keyboardLayout .col6 {
    left: 450px;
}

#keyboard_view .keyboardLayout .col7 {
    left: 525px;
}

#keyboard_view .keyboardLayout .col8 {
    left: 600px;
}

#keyboard_view .keyboardLayout .col9 {
    left: 675px;
}

#keyboard_view .keyboardLayout .row0 {
    top: 5px;
}

#keyboard_view .keyboardLayout .row1 {
    top: 65px;
}

#keyboard_view .keyboardLayout .row2 {
    top: 125px;
}

#keyboard_view .keyboardLayout .row3 {
    top: 185px;
}

#keyboard_view .QWERTYLayout .row2 {
    margin-left: 40px;
}

#keyboard_view .QWERTZLayout .row2 {
    margin-left: 40px;
}

#keyboard_view .QWERTZLayout .row3 {
    margin-left: 40px;
}

#infoTable.infoTable {
    width: 400px;
    height: 96px;
    top: 308px;
    left: 801px;
    background-color: #383737;
    color: white;
    border: 1px solid gray;
    overflow: hidden;
}

#infoTable .sdlGPLabel {
    width: 190px;
    border-right: 1px solid #14100F;
    height: 96px;
    position: relative;
    float: left;
}

#infoTable .sdlGPData {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 203px;
    height: 18px;
}

#buttonControls .ContainerControlls {
    left: 34px;
    background: url(../images/home/controlButtons/backGroundControllButtons.png) no-repeat;
    width: 200px;
    height: 200px;
}

#buttonControls .UpBtn {
    background: url(../images/home/controlButtons/UpButton.png) no-repeat;
    background-position: -32px 0;
    width: 137px;
    height: 64px;
    left: 32px;
    -webkit-transition: 0.2s;
}

#TUNEUP.pressed {
    background: url(../images/home/controlButtons/UpButton_pressed.png) !important;
    background-position: -32px 0 !important;
    width: 137px !important;
    height: 69px !important;
    left: 32px !important;
}

#buttonControls .DownBtn {
    background: url(../images/home/controlButtons/DownButton.png) no-repeat;
    background-position: -32px -132px;
    width: 137px;
    height: 65px;
    top: 132px;
    left: 32px;
    -webkit-transition: 0.2s;
}

#TUNEDOWN.pressed {
    background: url(../images/home/controlButtons/DownButton_pressed.png) no-repeat;
    background-position: -32px -132px !important;
    width: 137px !important;
    height: 65px !important;
    top: 132px !important;
    left: 32px !important;
}

#buttonControls .LeftBtn {
    background: url(../images/home/controlButtons/LeftButton.png) no-repeat;
    width: 63px;
    height: 138px;
    background-position: -3px -31px;
    left: 3px;
    top: 31px;
    -webkit-transition: 0.2s;
}

#SEEKLEFT.pressed {
    background: url(../images/home/controlButtons/LeftButton_pressed.png) no-repeat;
    width: 63px !important;
    height: 138px !important;
    background-position: -3px -31px !important;
    left: 3px !important;
    top: 31px !important;
}

#buttonControls .RightBtn {
    background: url(../images/home/controlButtons/RightButton.png) no-repeat;
    background-position: -131px -31px;
    width: 68px;
    height: 139px;
    left: 131px;
    top: 31px;
    -webkit-transition: 0.2s;
}

#SEEKRIGHT.pressed {
    background: url(../images/home/controlButtons/RightButton_pressed.png) no-repeat;
    background-position: -131px -31px !important;
    width: 68px !important;
    height: 139px !important;
    left: 131px !important;
    top: 31px !important;
}

#buttonControls .OkBtn {
    background: url(../images/home/controlButtons/OkButton.png) no-repeat;
    background-position: -55px -55px;
    width: 89px;
    height: 90px;
    left: 55px;
    top: 55px;
    -webkit-transition: 0.2s;
}

#buttonControls .OkBtn.media_button {
    background: url(../images/home/controlButtons/PlayPauseButton.png) no-repeat;
    background-position: -55px -55px;
}

#buttonControls .OkBtn.media_button.pressed {
    background: url(../images/home/controlButtons/PlayPauseButton_pressed.png) no-repeat;
    background-position: -55px -55px;
}

#buttonControls .OkBtn.pressed {
    background: url(../images/home/controlButtons/OkButton_pressed.png) no-repeat;
    background-position: -55px -55px;
}

#app_controlButtons {
    left: -44.5%;
    z-index: 2;
}

#app_controlButtons .systemRequest {
    top: 252px !important;
    left: 1059px !important;
    width: 135px !important;
    font-size: 16px !important;
    text-align: center;
    line-height: 48px;
}

#app_controlButtons .btnNotPressed {
    width: 40px;
    height: 40px;
    left: 0px;
    top: 200px;
    -webkit-transition: 0.2s;
    border-radius: 8px;
    background-color: #1D1D1D;
    border: 1px solid #383737;
    box-shadow: inset 5px 5px 10px #383737, inset -3px -3px 10px black;
    -webkit-transition: 0.2s;
    font-size: 38px;
    line-height: 42px;
    text-align: center;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

#app_controlButtons .RCInfo {
    position: absolute;
    width: 150px;
    height: 30px;
    top: 295px;
    left: 1215px;
    -webkit-transition: 2s;
    opacity: 0;
    display: none;
}

#app_controlButtons .RCInfo.show {
    opacity: 1;
    display: block;
}

#app_controlButtons .RCModulesSelect{
    position: absolute;
    width: 175px;
    height: 30px;
    top: 20px;
    color: white;
    background: #393939;
}

#app_controlButtons .imageModeSelect{
    position: absolute;
    width: 175px;
    height: 30px;
    top: 252px;
    left: 1215px;
    color: white;
    background: #393939;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#app_controlButtons .imageModeLabel {
    top: 234px;
    left: 1215px;
    width: 150px;
}

#app_controlButtons .resetPeriodLabel {
    top: 355px;
    left: 1215px;
    width: 150px;
}

#app_controlButtons .resetPeriodInput {
    top: 375px;
    position: absolute;
    width: 176px;
    left: 1215px;
    height: 30px;
    color: white;
    background: #393939;
}

#app_controlButtons .languageSelect {
    position: absolute;
    width: 150px;
    height: 30px;
    color: white;
    background: #393939;
}

#app_controlButtons .languageSelect option {
    background: #393939;
}

#UILanguages.languageSelect {
    top: 110px;
    left: 1028px;
}

#TTSVRLanguages.languageSelect {
    top: 170px;
    left: 1028px;
}

#app_controlButtons .UILanguagesLabel {
    top: 91px;
    left: 1028px;
    width: 150px;
}

#app_controlButtons .TTSVRLanguagesLabel {
    top: 151px;
    left: 1028px;
    width: 160px;
}

#app_controlButtons .appUILanguagesLabel {
    top: 91px;
    left: 1195px;
    width: 250px;
}

#app_controlButtons .appTTSVRLanguagesLabel {
    top: 151px;
    left: 1195px;
    width: 235px;
}

#app_controlButtons .appUILang {
    top: 117px;
    left: 1195px;
    width: 150px;
}

#app_controlButtons .appTTSVRLang {
    top: 176px;
    left: 1195px;
    width: 150px;
}

#app_controlButtons .sendDataCheckBox {
    left: 1158px;
    position: absolute;
    top: 275px;
}

#app_controlButtons .sendDataLabel {
    top: 275px;
    left: 1180px;
    width: 160px;
}

#buttonControls .btnNotPressed.pressed {
    box-shadow: inset 5px 5px 10px black, inset -3px -3px 10px #383737;
    line-height: 45px;
}

#app_controlButtons .languageSelect {
    position: absolute;
    width: 150px;
    height: 30px;
    color: white;
    background: #393939;
}

#app_controlButtons .languageSelect option {
    background: #393939;
}

#UILanguages.languageSelect {
    top: 110px;
    left: 1028px;
}

#TTSVRLanguages.languageSelect {
    top: 170px;
    left: 1028px;
}

#app_controlButtons .UILanguagesLabel {
    top: 91px;
    left: 1028px;
    width: 150px;
}

#app_controlButtons .TTSVRLanguagesLabel {
    top: 151px;
    left: 1028px;
    width: 160px;
}

#app_controlButtons .keyboard {
    left: 1137px;
    top: 20px;
    text-align: center;
    width: 150px;
    height: 40px;
}

#right_view.expand {
    left:100%;    
}

#right_view {
    left:49%;
    width:100%;
    height:100%;
    transition: left 2s;
    z-index: -10;
}

#right_view.hmi_not_run {
    left:45%;
    z-index: -10;
}

#expand_button {
    height: 99%;
    width: 30px;
    left: 51%;
    top: 0%;
    background: url(../images/common/button.png) repeat;
    border-radius: 3px;
    border: 1px solid #393939;
}

#expand_button .ico{
    height: 9%;
    top: 42%;
    position: absolute;
    transform: rotate(180deg);
    transition: 2s;
}

#expand_button.expand .ico {
    transform: rotate(0deg);
}

#app_controlButtons .phone_call_button.expand {
    left: 156px;
}

#app_controlButtons .vehicle_emulation_btn {
    width: 130px;
    height: 45px;
    position: absolute;
    cursor: pointer;
    float: right;
    display: none;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    left: 1215px;
    top: 418px;
}
