.interiorVI {
    width: 440px;
    height: 40px;
    left: 180px;
    top: 300px;
    border-radius: 8px;
    background-color: #1D1D1D;
    border: 1px solid #383737;
    box-shadow: inset 5px 5px 10px #383737, inset -3px -3px 10px black;
    font-size: 38px;
    line-height: 42px;
    text-align: center;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

#climate_control{
    width: 800px;
    height: 480px;
    background: url(../images/climate/bg.png) no-repeat;
}

#climate_control .highlighted{
    box-shadow: inset 0px 0px 20px #E8C515, inset 0px 0px 20px #E8C515;
}

#climate_control .switcher{
    border: 1px solid #393939;
    padding: 0;
    width: 115px;
    height: 50px;
    line-height: 50px;
    vertical-align: top;
    font-size: 26px;
    text-align: center;
}

#climate_control .switcher .ico{
    position: absolute;
    right: 10px;
}

#desiredTempLabel.label{
    top: 118px;
    left: 230px;
}

#climate_control .enableClimate {
    height: 40px;
    top: 71px;
    left: 44px;
    height: 40px;
    top: 71px;
    left: 30px;
    width: 135px;
    border: 1px solid #393939;
    padding: 0;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
}

#climate_control .enableClimate .ico {
    position: absolute;
    right: 2px;
    height: 40px;
}

#fanSpeedLabel.label{
    top: 120px;
    left: 448px;
}

#curentTempLabel.label{
    top: 120px;
    right: 60px;
}

#climate_control .acEnable{
    top: 365px;
    left: 74px;
}

#climate_control .acMaxEnable{
    top: 365px;
    left: 190px;
    width: 150px;
}

#climate_control .recirculateAirEnable{
    top: 365px;
    left: 341px;
}

#climate_control .autoModeEnable{
    top: 365px;
    left: 457px;
}

#climate_control .dualModeEnable{
    top: 365px;
    left: 573px;
}

#desiredTemp_container.calc_container {
    top: 71px;
    left: 200px;
}

#fanSpeed_container.calc_container {
    top: 71px;
    left: 410px;
}

#currentTemp_container.calc_container {
    top: 71px;
    right: 20px;
}

#defrostZoneLabel.label {
    top: 225px;
    left: 125px;
}

#temperatureUnitLabel.label {
    top: 225px;
    left: 317px;
}

#ventilationModeLabel.label {
    top: 225px;
    left: 520px;
}

.calc_container {
    width: 170px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #393939;
}

.calc_container .minus {
    height: 24px;
    width: 31px;
    float: left;
    padding: 8px;
    padding-left: 14px;
}

.calc_container .label{
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.calc_container .plus{
    float: right;
    position: relative;
    height: 24px;
    width: 31px;
    padding: 8px;
    padding-left: 14px;
}

.quattro_container{
    width: 140px;
    height: 71px;
    border-radius: 3px;
    border: 1px solid #393939;
    overflow: hidden;
}

#defrostZone.quattro_container{
    top: 145px;
    left: 100px;
}

.quattro_container .topLeft{
    width: 45px;
    height: 44px;
    border: 1px solid #393939;
    padding: 25px 4px 0 20px;
    line-height: 15px;
}

.quattro_container .topRight{
    width: 39px;
    height: 29px;
    border: 1px solid #393939;
    margin-left: 70px;
    padding: 24px 14px 16px 16px;
}

.quattro_container .bottomLeft{
    width: 49px;
    height: 44px;
    border: 1px solid #393939;
    margin-top: 70px;
    padding: 25px 0 0 20px;
}

.quattro_container .bottomRight{
    width: 45px;
    height: 45px;
    border: 1px solid #393939;
    margin-left: 70px;
    padding: 12px;
    margin-top: 70px;
    line-height: 45px;
}

#temperatureUnit.quattro_container{
    top: 145px;
    right: 350px;
    font-size: 35px;
    line-height: 70px;
}

#temperatureUnit .topRight{
    width: 69px;
    height: 69px;
    border: 1px solid #393939;
    margin-left: 70px;
    padding: 0;
    text-align: center;
}

#temperatureUnit .bottomLeft{
    width: 69px;
    height: 69px;
    border: 1px solid #393939;
    margin-top: 70px;
    padding: 0;
    text-align: center;
}

#temperatureUnit .bottomRight{
    width: 69px;
    height: 69px;
    border: 1px solid #393939;
    padding: 0;
    line-height: 70px;
    margin-left: 70px;
    margin-top: 70px;
    text-align: center;
}

#ventilationMode.quattro_container{
    top: 145px;
    right: 150px;
}

#ventilationMode .topRight{
    text-align: center;
}

#ventilationMode .topLeft{
    padding: 25px 8px 0 16px;
}

#climate_control .heatedWindshieldEnable{
    top: 270px;
    left: 140px;
}

#climate_control .heatedRearWindowEnable{
    top: 270px;
    left: 256px;
}

#climate_control .heatedSteeringWheelEnable{
    top: 270px;
    left: 372px;
}

#climate_control .heatedMirrorsEnable{
    top: 270px;
    left: 488px;
} 
