#media_leftmenu {
    z-index: 301;
    position: absolute;
    top: 90px;
    left: 0px;
    width: 150px;
    height: 300px;
    background: #333;
}

#media_cdButton {
    font-size: 18px;
    padding-left: 48px;
    line-height: 48px;
}

#media_usbButton {
    font-size: 18px;
    padding-left: 48px;
    line-height: 48px;
}

#media_radioButton {
    font-size: 18px;
    padding-left: 48px;
    line-height: 48px;
}

#media_bluetoothButton{
    font-size: 15px;
    padding-left: 48px;
    line-height: 48px;
}

#media_lineInButton{
    font-size: 18px;
    padding-left: 48px;
    line-height: 48px;
}

#media_ipodButton{
    font-size: 18px;
    padding-left: 48px;
    line-height: 48px;
}

#media_audioOption{
    font-size: 13px;
    padding-left: 48px;
    line-height: 48px;
}

#media_sdlButton {
    font-size: 18px;
    line-height: 48px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

#media_sdlButton span {
    margin-left: 50px;
}

#media_status {
    bottom: 0px;
    left: 0px;
    font-size: 21px;
    width: 324px;
    height: 48px;
    cursor: pointer;
    background: url(../images/common/media-status-bg.png) no-repeat;
    z-index: 1;
}

#media_status_homestatus {
    position: absolute;
    visibility: hidden;
    width: 100%;
    line-height: 50px;
}

#media_status_homestatus span {
    padding-left: 11px;
}

.ls_border {
    z-index: 201;
    position: absolute;
    top: -3px;
    left: 0px;
    width: 153px;
    height: 306px;
    background: url(../images/common/ls_border.png) no-repeat;
}

.media-ls-items {
    position: relative;
    width: 150px;
    height: 300px;
}

.media-ls-item {
    z-index: 201;
    position: relative;
    height: 50px;
    cursor: pointer;
    background: url(../images/media/ls-item_bg.png) no-repeat;
}

.media-ls-item.active_state {
    background: url(../images/media/ls-item_bg_act.png) no-repeat !important;
}

.media-ls-item > .bg {
    z-index: 201;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 50px;
}

.media-ls-item > .ico {
    z-index: 299;
    position: absolute;
    left: 0px;
    width: 50px;
    height: 50px;
}

.media-ls-item > .ico.more {
    left: 50px;
}

.media-ls-item > p {
    z-index: 298;
    position: absolute;
    left: 48px;
    width: 86px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.media-ls-item > .led {
    z-index: 299;
    position: absolute;
    top: 0px;
    right: 8px;
    width: 24px;
    height: 50px;
}

.media-ls-item.empty {
    background: #333333;
}

#preferences .pref{
    top: 77px;
    left: 546px;
    z-index: 502;
}

#radio_options_view_container.options {
    overflow:auto;
    width: 458px;
    height: 300px;
    background-color: black;
    border: 1px solid white;
    z-index: 1000;
    padding: 10px;
}

#radio_options_view_container .bandCheckbox {
    position: absolute;
    left: 10px;
    top: 11px;
}

#radio_options_view_container .bandLabel {
    top: 9px;
    left: 30px;
}

#radio_options_view_container .bandSelect {
    position: absolute;
    left: 220px;
}

#radio_options_view_container .rdsDataLabel {
    left: 10px;
    top: 27px;
}

#radio_options_view_container .sisDataLabel {
    left: 10px;
    top: 250px;
}

#radio_options_view_container .stationIdLabel {
    left: 20px;
    top: 410px;
}


#radio_options_view_container .fccCheckBox {
    position: absolute;
    left: 20px;
    top: 450px;
}

#radio_options_view_container .fccLabel {
    left: 35px;
    top: 448px;
}

#radio_options_view_container .fccInput {
    position: absolute;
    top: 450px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .countryCodeCheckBox {
    position: absolute;
    left: 20px;
    top: 430px;
}

#radio_options_view_container .countryCodeLabel {
    left: 35px;
    top: 428px;
}

#radio_options_view_container .countryCodeInput {
    position: absolute;
    top: 430px;
    left: 220px;
    width: 200px;
}


#radio_options_view_container .gpsDataLabel {
    left: 40px;
    top: 330px;
}



#radio_options_view_container .gpsDataCheckBox {
    position: absolute;
    left: 25px;
    top: 330px;
}

#radio_options_view_container .stationShortNameCheckbox {
    position: absolute;
    left: 20px;
    top: 270px;
}

#radio_options_view_container .stationShortNameLabel {
    left: 35px;
    top: 268px;
}

#radio_options_view_container .stationShortNameInput {
    position: absolute;
    top: 270px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .longitudeLabel {
    left: 50px;
    top: 350px;
}


#radio_options_view_container .longitudeInput {
    position: absolute;
    top: 350px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .latitudeLabel {
    left: 50px;
    top: 370px;
}


#radio_options_view_container .latitudeInput {
    position: absolute;
    top: 370px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .altitudeCheckBox {
    position: absolute;
    left: 35px;
    top: 392px;
}

#radio_options_view_container .altitudeLabel {
    left: 50px;
    top: 390px;
}


#radio_options_view_container .altitudeInput {
    position: absolute;
    top: 390px;
    left: 220px;
    width: 200px;
}

#hd_channel_container.channel {
    position: relative;
    top: -26px;
    left: -10px;
}

#radio_options_view_container .availableHdChannelsCheckBox_0 {
    top: 183px;
    position: absolute;
    left: 232px;
}

#radio_options_view_container .availableHdChannelsLabel_0 {
    top: 183px;
    position: absolute;
    left: 220px;
    font-size: 12px;
}

#radio_options_view_container .availableHdChannelsCheckBox_1 {
    top: 183px;
    position: absolute;
    left: 259px;
}

#radio_options_view_container .availableHdChannelsLabel_1 {
    top: 183px;
    position: absolute;
    left: 247px;
    font-size: 12px;
}

#radio_options_view_container .availableHdChannelsCheckBox_2 {
    top: 183px;
    position: absolute;
    left: 285px;
}

#radio_options_view_container .availableHdChannelsLabel_2 {
    top: 183px;
    position: absolute;
    left: 274px;
    font-size: 12px;
}

#radio_options_view_container .availableHdChannelsCheckBox_3 {
    top: 183px;
    position: absolute;
    left: 311px;
}

#radio_options_view_container .availableHdChannelsLabel_3 {
    top: 183px;
    position: absolute;
    left: 300px;
    font-size: 12px;
}

#radio_options_view_container .availableHdChannelsCheckBox_4 {
    top: 183px;
    position: absolute;
    left: 339px;
}

#radio_options_view_container .availableHdChannelsLabel_4 {
    top: 183px;
    position: absolute;
    left: 327px;
    font-size: 12px;
}

#radio_options_view_container .availableHdChannelsCheckBox_5 {
    top: 183px;
    position: absolute;
    left: 365px;
}

#radio_options_view_container .availableHdChannelsLabel_5 {
    top: 183px;
    position: absolute;
    left: 354px;
    font-size: 12px;
}

#radio_options_view_container .availableHdChannelsCheckBox_6 {
    top: 183px;
    position: absolute;
    left: 390px;
}

#radio_options_view_container .availableHdChannelsLabel_6 {
    top: 183px;
    position: absolute;
    left: 378px;
    font-size: 12px;
}

#radio_options_view_container .availableHdChannelsCheckBox_7 {
    top: 183px;
    position: absolute;
    left: 417px;
}

#radio_options_view_container .availableHdChannelsLabel_7 {
    top: 183px;
    position: absolute;
    left: 405px;
    font-size: 12px;
}

#radio_options_view_container .stationLongNameCheckBox {
    position: absolute;
    left: 20px;
    top: 290px;
}

#radio_options_view_container .stationLongNameLabel {
    left: 35px;
    top: 288px;
}

#radio_options_view_container .stationLongNameInput {
    position: absolute;
    top: 290px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .stationMessageCheckBox {
    position: absolute;
    left: 20px;
    top: 310px;
}

#radio_options_view_container .stationMessageLabel {
    left: 35px;
    top: 308px;
}

#radio_options_view_container .stationMessageInput {
    position: absolute;
    top: 310px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .PSCheckbox {
    position: absolute;
    left: 30px;
    top: 46px;
}

#radio_options_view_container .PSLabel {
    left: 50px;
    top: 45px;
}

#radio_options_view_container .PSInput {
    position: absolute;
    top: 45px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .RTCheckbox {
    position: absolute;
    left: 30px;
    top: 61px;
}

#radio_options_view_container .RTLabel {
    left: 50px;
    top: 60px;
}

#radio_options_view_container .RTInput {
    position: absolute;
    top: 60px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .CTCheckbox {
    position: absolute;
    left: 30px;
    top: 76px;
}

#radio_options_view_container .CTLabel {
    left: 50px;
    top: 75px;
}

#radio_options_view_container .CTInput {
    position: absolute;
    top: 75px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .PICheckbox {
    position: absolute;
    left: 30px;
    top: 91px;
}

#radio_options_view_container .PILabel {
    left: 50px;
    top: 90px;
}

#radio_options_view_container .PIInput {
    position: absolute;
    top: 90px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .PTYCheckbox {
    position: absolute;
    left: 30px;
    top: 106px;
}

#radio_options_view_container .PTYLabel {
    left: 50px;
    top: 105px;
}

#radio_options_view_container .PTYInput {
    position: absolute;
    top: 105px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .TPCheckbox {
    position: absolute;
    left: 30px;
    top: 121px;
}

#radio_options_view_container .TPLabel {
    left: 50px;
    top: 120px;
}

#radio_options_view_container .TPSelect {
    position: absolute;
    top: 120px;
    left: 220px;
}

#radio_options_view_container .TACheckbox {
    position: absolute;
    left: 30px;
    top: 136px;
}

#radio_options_view_container .TALabel {
    left: 50px;
    top: 135px;
}

#radio_options_view_container .TASelect {
    position: absolute;
    top: 135px;
    left: 220px;
}

#radio_options_view_container .REGCheckbox {
    position: absolute;
    left: 30px;
    top: 151px;
}

#radio_options_view_container .REGLabel {
    left: 50px;
    top: 150px;
}

#radio_options_view_container .REGInput {
    position: absolute;
    top: 150px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .availableHDsCheckbox {
    position: absolute;
    left: 10px;
    top: 168px;
}

#radio_options_view_container .availableHDsLabel {
    left: 30px;
    top: 165px;
}

#radio_options_view_container .availableHDsInput {
    position: absolute;
    top: 165px;
    left: 220px;
}

#radio_options_view_container .hdChannelCheckbox {
    position: absolute;
    left: 10px;
    top: 183px;
}

#radio_options_view_container .hdChannelLabel {
    left: 30px;
    top: 180px;
}

#radio_options_view_container .hdChannelInput {
    position: absolute;
    top: 180px;
    left: 220px;
}

#radio_options_view_container .signalStrengthCheckbox {
    position: absolute;
    left: 10px;
    top: 198px;
}

#radio_options_view_container .signalStrengthLabel {
    left: 30px;
    top: 195px;
}

#radio_options_view_container .signalStrengthInput {
    position: absolute;
    top: 195px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .signalChangeThresholdCheckbox {
    position: absolute;
    left: 10px;
    top: 213px;
}

#radio_options_view_container .signalChangeThresholdLabel {
    left: 30px;
    top: 210px;
}

#radio_options_view_container .signalChangeThresholdInput {
    position: absolute;
    top: 210px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .stateCheckbox {
    position: absolute;
    left: 10px;
    top: 228px;
}

#radio_options_view_container .stateLabel {
    left: 30px;
    top: 225px;
}

#radio_options_view_container .stateSelect {
    position: absolute;
    top: 225px;
    left: 220px;
    width: 200px;
}

#radio_options_view_container .sendButton {
    top: 500px;
    left: 200px;
    width: 70px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.main-preset-buttons-wraper {
    position: relative;
    width: 468px;
    height: 100px;
    float: left;
    left: 4px;
    top: 222px;
    z-index: 503;
}

.main-preset-buttons-wraper .preset-items {
    /*position: relative;*/
    width: 467px;
    height: 99px;
    border: 1px solid #393939;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    z-index: 1;
}

.main-preset-buttons-wraper .preset-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #393939;
    border-bottom: 1px solid #393939;
    height: 49px;
    cursor: pointer;
    width: 155px;
}

#sdl_media_presetButtons_wrapper .preset-item {

    width: 92.6px;
}

#sdl_media_presetButtons.main-preset-buttons-wraper {
    top: 291px;
    left: 165px;
}

#tuneButtons .preset-item {
    width: 77px;
}

#tuneButtons .clear .ico {
    margin-top: 15px;
    margin-left: 22px;
}

.right-stock {
    position: absolute;
    margin-right: 4px;
    float: right;
    width: 150px;
    border: 1px solid #393939;
    border-bottom: none;
    border-radius: 3px;
    top: 60px;
    left: 485px;
}

.right-stock .hidden {
    display: none;
}

.player-right-stock {
    position: absolute;
    margin-right: 4px;
    float: right;
    width: 150px;
    border: 1px solid #393939;
    border-bottom: none;
    border-radius: 3px;
    top: 60px;
    left: 485px;
}

.rs-item {
    position: relative;
    width: 140px;
    height: 49px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    font-size: 18px;
    line-height: 46px;
    padding-left: 10px;
}

.rs-item.notpressed {
    background: url(../images/list/list_item_bg.png) repeat-x;
}

.rs-item.pressed {
    background: url(../images/list/list_item_pressed.png) repeat-x !important;
}

.rs-item > .ico {
    position: absolute;
    top: 0;
    right: 10px;
    width: 24px;
    height: 50px;
}

.main-preset-buttons-wraper .preset-item.a0 {
    background: url(../images/media/bcs-item_bgL.png) no-repeat;
    border-right: 1px solid #393939;
    border-bottom: 1px solid #393939;
}

.tuneButtons .preset-item.a0 {
    background: url(../images/media/bcs-item_bgL-small.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a0.pressed {
    background: url(../images/media/bcs-item_bgL_pressed.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a0.active {
    background: url(../images/media/bcs-item_bg_act.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a1 {
    background: url(../images/media/bcs-item_bgS.png) no-repeat;
    border-right: 1px solid #393939;
    border-bottom: 1px solid #393939;
    width: 157px;
}

.main-preset-buttons-wraper .preset-item.a1.pressed {
    background: url(../images/media/bcs-item_bgS_pressed.png) no-repeat;
    /*width: 157px;*/
}

.main-preset-buttons-wraper .preset-item.a1.active {
    background: url(../images/media/bcs-item_bg_act.png) repeat;
}

.main-preset-buttons-wraper .preset-item.a2 {
    background: url(../images/media/bcs-item_bgR.png) no-repeat;
    border-bottom: 1px solid #393939;
    width: 153px;
}

.main-preset-buttons-wraper .preset-item.a2.pressed {
    background: url(../images/media/bcs-item_bgR_pressed.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a2.active {
    background: url(../images/media/bcs-item_bg_act.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a3 {
    background: url(../images/media/bcs-item_bgL.png) no-repeat;
    border-right: 1px solid #393939;
}

.main-preset-buttons-wraper .preset-item.a3.pressed {
    background: url(../images/media/bcs-item_bgL_pressed.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a3.active {
    background: url(../images/media/bcs-item_bg_act.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a4 {
    background: url(../images/media/bcs-item_bgS.png) no-repeat;
    border-right: 1px solid #393939;
    width: 157px;
}

.main-preset-buttons-wraper .preset-item.a4.pressed {
    background: url(../images/media/bcs-item_bgS_pressed.png) no-repeat;
    width: 157px;
}

.main-preset-buttons-wraper .preset-item.a4.active {
    background: url(../images/media/bcs-item_bg_act.png) repeat;
}

.main-preset-buttons-wraper .preset-item.a5 {
    background: url(../images/media/bcs-item_bgR.png) no-repeat;
    width: 153px;
}

.main-preset-buttons-wraper .preset-item.a5.pressed {
    background: url(../images/media/bcs-item_bgR_pressed.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item.a5.active {
    background: url(../images/media/bcs-item_bg_act.png) no-repeat;
}

.main-preset-buttons-wraper .preset-item > .bg {
    z-index: 201;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 155px;
    height: 49px;
}

.main-preset-buttons-wraper .preset-item > span {
    z-index: 202;
    display: block;
    position: absolute;
    left: 10px;
    width: 30px;
    height: 50px;
    font-size: 32px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    color: #999;
}

.main-preset-buttons-wraper .preset-item > p {
    z-index: 202;
    position: absolute;
    left: 40px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.home-preset-buttons-wraper {
    top: 82px;
    left: 34px;
    z-index: 50;
}

.home-preset-buttons-wraper .preset-items {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #393939;
    width: 328px;
    height: 79px;
}

.bc-item2 > p {
    z-index: 202;
    position: absolute;
    left: 40px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.bc-item-big {
    position: relative;
    float: left;
    width: 155px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
}

.unsubscribed {
    width: 0px !important;
    overflow: hidden !important;
    opacity: 0 !important;
}

.bc-item-big.prevcd, .bc-item-big.prevusb,
.bc-item-big.prevbluetooth ,
.bc-item-big.prevlineIn,
.bc-item-big.previpod,
.bc-item-big.prevsd, .bc-item-big.prevblue {
    width: 155px;
    height: 98px;
    border-right: 1px solid #393939;
    cursor: pointer;
    background: url(../images/media/cd-prev-btn.png) no-repeat;
}

.bc-item-big.prevcd.pressed, .bc-item-big.prevusb.pressed,
.bc-item-big.prevbluetooth.pressed ,
.bc-item-big.prevlineIn.pressed ,
.bc-item-big.previpod.pressed ,
.bc-item-big.prevsd.pressed,
 .bc-item-big.prevblue.pressed {
    background: url(../images/media/cd-prev-btn_pressed.png) no-repeat;
}

.bc-item-big.playcd {
    width: 157px;
    height: 98px;
    border-right: 1px solid #393939;
    cursor: pointer;
    background: url(../images/media/cd_play_btn.png) no-repeat;
    top: 0px;
    position: absolute;
    left: 156px;
    line-height: 100px;
}
.player_controllsV2 .bc-item-big.playcd {
    line-height: 50px;
}

.bc-item-big.play-usb,
.bc-item-big.play-bluetooth,
.bc-item-big.play-lineIn,
.bc-item-big.play-ipod,
.bc-item-big.play-cd {
    width: 157px;
    height: 98px;
    border-right: 1px solid #393939;
    cursor: pointer;
    background: url(../images/media/cd_play_btn.png) no-repeat;
}

.playIcon {
    position: absolute;
    left: 50px;
}

.playIcon.hideicon {
    visibility: hidden;
}

.playIcon.showicon {
    visibility: visible;
}

.bc-item-big.playcd.pressed, 
.bc-item-big.playusb.pressed, 
.bc-item-big.playbluetooth.pressed,
.bc-item-big.playlineIn.pressed,
.bc-item-big.playipod.pressed,
.bc-item-big.playsd.pressed, 
.bc-item-big.playblue.pressed {
    background: url(../images/media/cd_play_btn_pressed.png) no-repeat;
}

.bc-item-big.nextcd,
.bc-item-big.nextusb,
.bc-item-big.nextbluetooth,
.bc-item-big.nextlineIn,
.bc-item-big.nextlineipod,
.bc-item-big.nextsd,
.bc-item-big.nextblue {
    width: 154px;
    height: 98px;
    cursor: pointer;
    background: url(../images/media/cd-next-btn.png) no-repeat;
    top: 0px;
    position: absolute;
    left: 314px;
}

.bc-item-big.nextcd.pressed,
 .bc-item-big.nextusb.pressed, 
 .bc-item-big.nextbluetooth.pressed,
 .bc-item-big.nextlineIn.pressed,
 .bc-item-big.nextipod.pressed,
 .bc-item-big.nextsd.pressed, 
 .bc-item-big.nextblue.pressed {
    background: url(../images/media/cd-next-btn_pressed.png) no-repeat;
}

#usb_logo {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid #393939;
    border-radius: 2px;
    width: 109px;
    height: 109px;
    background: url(../images/media/small-fall-image.png) no-repeat;
}

#cd_logo {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid #393939;
    border-radius: 2px;
    width: 109px;
    height: 109px;
    background: url(../images/media/small-lazerhorse-image.png) no-repeat;
}

#blueetooth_logo {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid #393939;
    border-radius: 2px;
    width: 109px;
    height: 109px;
    background: url(../images/media/small-lazerhorse-image.png) no-repeat;
}

#lineIn_logo {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid #393939;
    border-radius: 2px;
    width: 109px;
    height: 109px;
    background: url(../images/media/small-lazerhorse-image.png) no-repeat;
}

#ipod_logo {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid #393939;
    border-radius: 2px;
    width: 109px;
    height: 109px;
    background: url(../images/media/small-fall-image.png) no-repeat;
}

#bt-bg {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: -8px;
}

#bt-dis-controls {
    background: url(../images/media/disabled_player_controls.png) no-repeat;
    width: 470px;
    height: 100px;
    position: relative;
    bottom: 17px;
    float: left;
    margin-left: 13px;
}

#avin-line {
    z-index: 200;
    position: relative;
    width: 151px;
    height: 297px;
    margin-top: 100px;
    margin-left: 171px;
}

.player_controlls {
    z-index: 199;
    position: absolute;
    top: 222px;
    left: 4px;
    width: 468px;
    height: 99px;
    background:
            linear-gradient(rgba(0, 0, 0, 0.46),
            rgba(255, 0, 0, 0.23)),
            url("../images/media/btn_bg.png") repeat-x;
    border: 1px solid #393939;
    -webkit-border-radius: 3px;
}

#sdl_view_container .track-info {
    left: 165px;
    top: 55px;
}

#sdl_view_container .list-content {
    border: none;
}

#sdl_view_container .list-item {
    position: relative;
    width: 100%;
    height: 48px;
    font-size: 20px;
    line-height: 50px;
    border: 1px solid #393939;
}

.track-info {
    z-index: 199;
    position: absolute;
    left: 13px;
    width: 470px;
    overflow: hidden;
    height: 237px;
}

.track-info > .total {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 300px;
    text-align: left;
    font-size: 20px;
    color: #999999;
}

.track-info > .title {
    top: 110px;
    font-size: 38px;
    left: 7px;
}

.track-info > .track-number {
    top: 153px;
    font-size: 26px;
    left: 10px;
}

.track-info > .time {
    top: 190px;
    font-size: 26px;
    left: 10px;
}

.track-info > .divider_o {
    top: 65px;
}

.track-info > .device {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 300px;
    text-align: left;
    font-size: 20px;
    color: #999999;
}

.track-info > .STAName {
    font-size: 22px;
    top: 30px;
    left: 8px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 400px;
}

.track-info > .genre {
    position: absolute;
    top: 133px;
    left: 2px;
    width: 200px;
    text-align: left;
    font-size: 24px;
}

.track-info > .songInfo {
    text-transform: uppercase;
    position: absolute;
    font-size: 20px;
    top: 164px;
    left: 2px;
    width: 466px;
}

#radio_view_container .track-info > .station {
    position: absolute;
    top: 50px;
    left: 8px;
    font-size: 62px;
    white-space: nowrap;
    overflow: hidden;
    width: 400px;
}

#radio_view_container .divider_o {
    position: absolute;
    top: 130px;
    left: 0px;
    width: 470px;
    height: 1px;
    background: url("../images/media/divider_o.png") no-repeat;
}

.divider_o {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 470px;
    height: 1px;
    background: url("../images/media/divider_o.png") no-repeat;
}

.statusInfo {
    width: 275px;
    height: 48px;
}

.statusInfo .station {
    top: 12px;
    left: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 21px;
    width: 220px;
}

.statusInfo .station span {
    display: none;
}

.statusInfo .icon {
    width: 50px;
    height: 50px;
    left: 224px;
}

.cdIco {
    background: url(../images/media/ico_cd.png) no-repeat !important
}

.fmIco {
    background: url(../images/media/ico_fm.png) no-repeat !important
}

.usbIco {
    background: url(../images/media/ico_usb.png) no-repeat !important
}
.ipodIco {
    background: url(../images/media/ico_ipod.png) no-repeat !important
}
.bluetoothIco {
    background: url(../images/media/ico_bluetooth.png) no-repeat !important
}
.lineInIco {
    background: url(../images/media/line_in.png) no-repeat !important
}
/* .audioIco {
    background: url(../images/media/ico_audio.png) no-repeat !important
} */

.appIco {
    background: url(../images/info/info_leftMenu_apps_ico.png) no-repeat !important
}

.calc_container {
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #393939;
}

.option {
    top: 77px;
    width: 300px;
    height: 300px;
    background-color: black;
    border: 1px solid white;
    z-index: 1000;
    padding: 10px;
    left: 238px;
}

.pref{
    width: 150px;
    height: 40px;
    top:380px;
    left:645px;
    border-radius: 3px;
    border: 1px solid #393939;
    z-index: 900;
}
.pref .media_optionButton{
    height: 24px;
    width: 128px;
    float: auto;
    padding: 8px;
    padding-left: 14px;
    z-index: 900;
    text-align: center;
}
/* .option .keepContextLabel{
    left:25px;
    top:20px;
}
.option .keepContextSelect{
    
    top: 20px;
    position: absolute;
    width: 150px;
    left: 130px;
    height: 20px;
    color: white;
    background: #393939;
} */
.option .equalizerSettingsCheckBox{
    position: absolute;
    left: 5px;
    top: 82px;
}
.option .equalizerSettingsLabel
{
    left:25px;
    top:80px;
}
.option .equalizerChannelIdLabel{
    left:25px;
    top:110px;
}
.option .equalizerChannelSettingLabel{
    left:25px;
    top:170px;
    font-size: 5;
}
.option .equalizerChannelSettingCheckBox{
    position: absolute;
    left: 5px;
    top: 170px;
}
.option .equalizerChannelSettingInput{
    top: 170px;
      position: absolute;
      width: 150px;
      left: 130px;
      height: 20px;
      color: white;
      background: #393939;
  }
.option .volumeInput{
    top: 30px;
      position: absolute;
      width: 150px;
      left: 130px;
      height: 20px;
      color: white;
      background: #393939;
  }
.option .volumeLabel{
      left:25px;
      top:30px;
  }
  .option .volumeCheckBox{
    position: absolute;
    left: 5px;
    top: 30px;
}
.option .equalizerChannelIdInput{
      top: 110px;
        position: absolute;
        width: 150px;
        left: 130px;
        height: 20px;
        color: white;
        background: #393939;
    }
    .option .equalizerChannelIdCheckBox{
        position: absolute;
        left: 5px;
        top: 110px;
    }
.option .equalizerChannelIdLabel{
      left:25px;
      top:110px;
  }
  .option .equalizerChannelNameInput{
        top: 140px;
        position: absolute;
        width: 150px;
        left: 130px;
        height: 20px;
        color: white;
        background: #393939;
    }
    .option .equalizerChannelNameCheckBox{
        position: absolute;
        left: 5px;
        top: 142px;
    }
    .option .equalizerChannelNameLabel{
      left:25px;
      top:140px;
      font-size:14px;
  }
  .option .save {
    top: 260px;
    left: 128px;
    width: 70px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.calc_container .minus {
    height: 24px;
    width: 31px;
    float: left;
    padding: 8px;
    padding-left: 14px;
}

.calc_container .label{
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.calc_container .plus{
    float: right;
    position: relative;
    height: 24px;
    width: 31px;
    padding: 8px;
    padding-left: 14px;
}

#volume_label {
    top: 55px;
    left: 695px;
}

#currentVolume_container.calc_container {
    top: 77px;
    left: 646px;
    z-index: 502;
}

#media_player_view_container {
    /*background: url(../images/media/player_view.png) no-repeat;*/
    width: 635px;
    height: 323px;
    top: 70px;
    left: 161px;
    z-index: 501;
}

#sdl_view_container_menu {
    top: 125px;
    left: 650px;
    width: 140px;
    height: 265px !important;
}

#media_fm_tuneButtons {
    margin: 4px 5px 0 5px;
}

#media_fm_tuneButtons .ffw-button {
    width: 60px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #333;
    border-radius: 3px;
    position: relative;
    margin: 0 4px;
}

#tuneButtons .ffw-button.disabled > span {
    color: #999;
}

#EqualizerSettingsView{
    width: 300px;
    height: 174px;
    top: 80px;
}

#EqualizerSettingsView .equalizerSettingsLabel {
    display: block;
    position: static;
}

#EqualizerSettingsView .equalizerSettingsArray { 
    display: block;
    position: static;
    height: 147px;
    border: 1px solid white;
    margin: 5px 0px 0px 0px;
}

#EqualizerSettingsView .equalizerSettingsAddButton {
    z-index: 1002;
    top: -3px;
    left: 248px;
    border: 1px solid white;
    width: 50px;
    height: 22px;
    text-align: center;
    line-height: 24px;
}

#equalizerSettingsArray .deleteButton{
    z-index: 1001;
    margin: 2px 0px 0px 2px;
    background: black;
}

#equalizerSettingsArray .leftButton{
    z-index: 1001;
    margin: 5px 0px 0px 2px;
    background: black;
    left: 250px;
}

#equalizerSettingsArray .rightbutton{
    z-index: 1001;
    margin: 2px 0px 0px 2px;
    background: black;
    transform: rotate(180deg);
    left: 274px;
}

#equalizerSettingsArray .stateInput{
    width: 40px;
    top: 25px;
    left: 180px;
    position:absolute;
    background: black;
    color:white;
    font-size: 125%;
} 

#equalizerSettingsArray .channelIdLabel{
    width: 100px;
    top: 82px;
    left: 10px;
    position: absolute;
}

#equalizerSettingsArray .channelNameLabel{
    width: 109px;
    top: 102px;
    left: 10px;
    position: absolute;
}

#equalizerSettingsArray .channelSettingLabel{
    width: 100px;
    top: 122px;
    left: 10px;
    position: absolute;
}

#equalizerSettingsArray .channelIdInput{
    width: 100px;
    top: 82px;
    left: 137px;
    position: absolute;
}

#equalizerSettingsArray .channelNameInput{
    width: 100px;
    top: 102px;
    left: 137px;
    position: absolute;
}

#equalizerSettingsArray .channelSettingInput{
    width: 100px;
    top: 122px;
    left: 137px;
    position: absolute;
}
