/*NAVIGATION CSS*/

#navigationView.navigationView {
    width: 800px;
    height: 480px;
    background: url(../images/nav/bg.png) no-repeat;
    background-position: top;
}

#map {
    top: 48px;
    height: 384px;
    width: 800px;
}

#poiList {
    top: 70px;
    left: 15px;
    z-index: 1;
    position: absolute;
}

#poiList .list-content {
    border-top: 0px;
}

#poiList .list-item {
    overflow: hidden;
}

#wpList {
    top: 70px;
    left: 15px;
    z-index: 1;
    position: absolute;
}

#wpList .list-content {
    border-top: 0px;
}

#wpList .list-item {
    overflow: hidden;
    white-space: nowrap;
}

#wpList .right_text{
    position: absolute;
}

.POIButton {
    z-index: 1;
    top: 335px;
    left: 20px;
    width: 80px;
    text-align: center;
}

.WPButton {
    z-index: 1;
    top: 335px;
    left: 110px;
    width: 125px;
    text-align: center;
}

.AddWP {
    z-index: 1;
    top: 335px;
    left: 245px;
    width: 125px;
    text-align: center;
}

.navigationButton {
    z-index: 1;
    bottom: 60px;
    left: 20px;
    width: 80px;
    text-align: center;
}

.animateButton {
    bottom: 60px;
    left: 110px;
    width: 125px;
    text-align: center;
}

#baseNavigation {
    z-index: 2;
    position: absolute;
    top: 48px;
    width: 800px;
    height: 384px;
}

#baseNavigation .mainField {
    position: absolute;
    background: rgba(124, 124, 124, 0.3);
    border: 1px solid;
    border-color: rgba(90, 90, 90, 0.31);
    border-radius: 3px;
    box-shadow: inset 2px 2px 10px 0px rgba(112, 112, 112, 0.3), inset -2px -2px 10px 0px rgba(112, 112, 112, 0.3);
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
}

#baseNavigation .softButton {
    position: absolute;
    border-radius: 3px;
    border: 1px solid #393939;
}

#baseNavigation .mainField1 {
    top: 0;
    height: 30px;
    width: 190px;
    left: 0;
}

#baseNavigation .mainField2 {
    top: 0;
    height: 40px;
    width: 380px;
    left: 204px;
}

#baseNavigation .mainField3 {
    top: 0;
    height: 30px;
    width: 190px;
    right: 0;
}

#baseNavigation .mainField4 {
    top: 50px;
    height: 30px;
    width: 90px;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
}

#baseNavigation .mainField5 {
    top: 100px;
    height: 30px;
    width: 90px;
    right: 0;
}

#baseNavigation .mainField6 {
    bottom: 0;
    height: 40px;
    width: 280px;
    left: 254px;
}

#baseNavigation .softButton1 {
    width: 250px;
    bottom: 0;
    left: 0;
    position: absolute !important;
    margin: 0px !important;
    height: 49px !important;
    font-size: 32px;
    line-height: 50px !important;
}

#baseNavigation .softButton2 {
    width: 250px;
    bottom: 0px;
    right: 0px;
    position: absolute !important;
    margin: 0px !important;
    height: 49px !important;
    font-size: 32px;
    line-height: 50px !important;
}

#baseNavigation .softButton3 {
    width: 100px;
    top: 100px;
    left: 0;
    position: absolute !important;
    margin: 0px !important;
    height: 49px !important;
    font-size: 32px;
    line-height: 50px !important;
}

#baseNavigation .softButton4 {
    width: 100px;
    top: 150px;
    left: 0;
    position: absolute !important;
    margin: 0px !important;
    height: 49px !important;
    font-size: 32px;
    line-height: 50px !important;
}