#settingsView .in_settings_separate_view,
.in_light_exterior_view,
.in_light_single_view,
.in_light_location_view,
.in_light_interior_view  {
    top: 48px;
    width: 800px;
    height: 382px;
    background: black;
    z-index: 5000;
    border: 1px solid white;
    border-radius: 10PX;
}

#settingsView .rpc_settings_separate_view {
    top: 68px;
    left:190px;
    width: 495px;
    height: 337px;
    background: black;
    z-index: 5000;
    border: 1px solid white;
    border-radius: 10PX;
    overflow-y: scroll;
}

 .appNameLabel{
    top: 13px;
    left: 213px;
    font-size: 200%;
    text-align: center;
}

 .backControl {
    top: 20px;
    width: 35px;
    height: 27px;
    border: 1px solid #333;
    border-radius: 2px;
    left: 10px;
}

 .saveButton,
 .newButton {
    left: 55px;
    border: 1px solid #333;
    border-radius: 2px;
    top: 20px;
    width: 60px;
    height: 27px;
    text-align: center;
}

.removeButton{
    border: 1px solid #333;
    border-radius: 2px;
    width: 71px;
    height: 27px;
    text-align: center;
    top: 20px;
    left: 125px;
}

.previousButton{
    border: 1px solid #333;
    border-radius: 2px;
    width: 71px;
    height: 27px;
    text-align: center;
    top: 20px;
    left: 280px;
}

.nextButton{
    border: 1px solid #333;
    border-radius: 2px;
    width: 60px;
    height: 27px;
    text-align: center;
    left: 360px;
    top: 20px;
}

.counterLabel{
    top: 55px;
    width: 60px;
    height: 27px;
    text-align: center;
}

.rpc_settings_separate_view .counterLabel{
    top: 25px;
    left: 415px;
    width: 60px;
    height: 27px;
    text-align: center;
}

 .resetButton{
    left: 125px;
    border: 1px solid #333;
    border-radius: 2px;
    top: 20px;
    width: 60px;
    height: 27px;
    text-align: center;
    font-size: 75%;
}

#settingsView .rpc_settings_separate_view
 .rpcList{ 
    left: 170px;
    direction: rtl;
}

 .vrAddComandlabel{
    top: 60px;
}

 .uiAddComandlabel{
    top: 85px;
}

 .addSubMenulabel{
    top: 110px;
}

.createInteractionChoiceSetlabel {
    top: 135px;
    font-size: 84%;
}

.uisetGlobalProperties {
    top: 160px;
}

.ttssetGlobalPropertieslabel {
    position: absolute;
    top: 185px;
    font-size: 85%;
}

.uiCreateWindowLabel {
    top: 210px;
}

 .subscribeWayPoints{
       top: 185px;
       left: -140px;
}

 .vehicleDataGlobal{
    top: 212px;
    left: -150px;
}

 .subscribeVehicleData{
    top: 260px;
    left: -140px;
}

.subscribevehicleData{
    top: 50px;
    direction: initial;
    position: absolute;
    height: 30px;
    width: 479px;
}
.subscribevehicleData .label{
    position: absolute;
    left: 10px; 
    top: 5px;
}
.subscribevehicleData .select{
    position: absolute;
    left: 185px;
    top: 5px;
}

.subscribevehicleDataParams{
    position: relative;
    height: 850px;
    width: 479px;
    top: 80px;
}
.subscribevehicleDataParams .params{
    top: 5px;
    position: relative;
    height: 30px;
    width: 450px;
    left: 26px;
}
.subscribevehicleDataParams .params .label{
    left: 10px;
}
.subscribevehicleDataParams .params .select{
    left: 205px;
    position: absolute;
}

#settingsView .rpc_settings_separate_view
 .resultCodeTracker{ 
    left: 200px;
    direction: ltl;
}

 .vrAddComandSelect{
    top:60px;
    position: absolute;
}

.uiAddComandSelect{
    top:85px;
    position: absolute;
}

 .addSubMenuSelect{
    top: 110px;
    position: absolute;
}

.createInteractionChoiceSetSelect {
    top: 135px;
    position: absolute;
}

.uisetGlobalPropertiesSelect {
    top: 160px;
    position: absolute;
}

.ttssetGlobalPropertiesSelect {
    top: 185px;
    position: absolute;
}

.uiCreateWindowSelect {
    top: 210px;
    position: absolute;
}

 .subscribeWayPointsSelect{
    top: 55px;
    left: 55px;
    width: 407px;
    height: 18px;
    position: absolute;
}

 .vehicleDataGlobalSelect{
    top: 210px;
    position: absolute;
}

.customResultCodeLabel{
    top: 60px;
    left: 55px;
    width: 407px;
    height: 18px;
    position: absolute;
}

.getIVDSelect{
    top: 80px;
    left: 55px;
    width: 407px;
    height: 18px;
    position: absolute;
}

.subscribedLabel {
    position: absolute;
    top: 110px;
    left: 55px;
    width: 190px;
}

.getIVDSubscribed{
    position: absolute;
    top: 135px;
    left: 55px;
    width: 170px;
}

#settingsView .in_settings_separate_view .backButton,
.in_light_exterior_view .backButton,
.in_light_single_view .backButton, 
.in_light_location_view .backButton,
.in_light_interior_view .backButton  {
    top: 35px;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 2px;
    left: 25px;
}

#settingsView .in_settings_separate_view .list,
.in_light_exterior_view .list,
.in_light_single_view .list,
.in_light_location_view .list,
.in_light_interior_view .list {
    height: 251px;
    width: 700px;
    top: 106px;
    left: 50px;
}

#settingsView .in_settings_separate_view .dataInput.policyTypeInput {
    top: 105px;
    left: 130px;
    width: 590px;
}

#settingsView .in_settings_separate_view .dataInput.propertyInput {
    top: 160px;
    left: 130px;
    width: 590px;
}

#settingsView .in_settings_separate_view .dataInput {
    width: 265px;
    position: absolute;
    border: 1px solid #333;
    border-radius: 2px;
    background: rgba(119, 119, 119, 0.42);
    cursor: auto;
    font-size: 32px;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
}

#settingsView .in_settings_separate_view .list-item,
.in_light_exterior_view .list-item,
.in_light_single_view .list-item,
.in_light_location_view .list-item,
.in_light_interior_view .list-item {
    width: 639px;
    padding-left: 10px;
}

#settingsView .in_settings_separate_view .ccpuVersionInput {
    position: absolute;
    left: 190px;
    top: 115px;
    width: 450px;
}

#settingsView .in_settings_separate_view .label.vehicleBaseLabel {
    position: absolute;
    left: 35px;
    background: black;
    width: 120px;
}

#settingsView .in_settings_separate_view .vehicleBaseInput {
    position: absolute;
    left: 120px;
    width: 609px;
}

#settingsView .in_settings_separate_view .vehicleBaseInput:disabled {
    color: gray;
}

#settingsView .in_settings_separate_view .vehicleBaseCheckBox {
    position: absolute;
    left: 25px;
    z-index: 2;
}

#settingsView .in_settings_separate_view .label.vehicleMakeLabel {
    top: 110px;
}

#settingsView .in_settings_separate_view .vehicleMakeInput {
    top: 115px;
}

#settingsView .in_settings_separate_view .vehicleMakeCheckBox {
    top: 127px;
}


#settingsView .in_settings_separate_view .label.vehicleModelLabel {
    top: 170px;
}

#settingsView .in_settings_separate_view .vehicleModelInput {
    top: 175px;
}

#settingsView .in_settings_separate_view .vehicleModelCheckBox {
    top: 187px;
}


#settingsView .in_settings_separate_view .label.vehicleYearLabel {
    top: 230px;
}

#settingsView .in_settings_separate_view .vehicleYearInput {
    top: 235px;
}

#settingsView .in_settings_separate_view .vehicleYearCheckBox {
    top: 247px;
}


#settingsView .in_settings_separate_view .label.vehicleTrimLabel {
    top: 290px;
}

#settingsView .in_settings_separate_view .vehicleTrimInput {
    top: 295px;
}

#settingsView .in_settings_separate_view .vehicleTrimCheckBox {
    top: 307px;
}

#settingsView .in_settings_separate_view .hardwareVersionInput {
    position: absolute;
    left: 190px;
    top: 190px;
    width: 450px;
}

#settingsView .in_settings_separate_view .hardwareVersionInput:disabled {
    color: gray;
}

#settingsView .in_settings_separate_view .hardwareVersionCheckBox {
    position: absolute;
    left: 25px;
    top: 203px;
    z-index: 2;
}

#settingsView .in_settings_separate_view .systemVersionsApplyButton {
    position: absolute;
    top: 250px;
    left: 190px;
    width: 125px;
    text-align: center;
}

#settingsView .in_settings_separate_view .vehicleTypeApplyButton {
    position: absolute;
    top: 338px;
    width: 125px;
    text-align: center;
    right: 6px;
}

#settingsView .in_settings_separate_view .label.ccpuVersionLabel {
    position: absolute;
    top: 110px;
    left: 10px;
    background: black;
    width: 120px;
}

#settingsView .in_settings_separate_view .label.hardwareVersionLabel {
    position: absolute;
    top: 185px;
    left: 30px;
    background: black;
    width: 150px;
}

#settingsView .in_settings_separate_view .sendRequestButton {
    top: 210px;
    left: 130px;
    width: 120px;
    text-align: center;
}

#settingsView .in_settings_separate_view .getPolicyConfigVersion {
    top: 275px;
    left: 35px;
    width: 320px;
    text-align: center;
    font-size: 14px;
}

#settingsView .in_settings_separate_view .label.polciyTypeLabel {
    top: 100px;
    background: black;
    left: inherit;
    width: 100px;
}

#settingsView .in_settings_separate_view .label.propertyLabel {
    top: 155px;
    background: black;
    left: 10px;
    width: 80px;
}

#settingsView .right_text {
    padding-left: 50px;
}

#settingsView .in_settings_separate_view .label,
.in_light_exterior_view .label,
.in_light_single_view .label,
.in_light_location_view .label,
.in_light_interior_view .label {
    top: 35px;
    left: 100px;
    width: 620px;
    background: #393939;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 50px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

#policies_settings_appPermissions .appIDSelectTitle {
    top: 315px !important;
    left: 420px !important;
    width: 100px !important;
}

#policies_settings_appPermissions .appIDSelect {
    top: 320px !important;
    left: 575px !important;
}

#policies_settings_appPermissions .privacyModeTitle {
    top: 315px !important;
    left: 20px !important;
    width: 100px !important;
}

#policies_settings_appPermissions .privacyModeSelect {
    top: 320px !important;
    left: 175px !important;
}

#settingsView .backButton .ico {
    margin-top: 13px;
    margin-left: 8px;
}

#settings_leftMenu {
    background: #333;
    width: 150px;
    height: 300px;
    top: 90px;
}

#settings_leftMenu .menu-item.info_active {
    background: url("../images/info/menu_active.png") repeat-x;
}

#settings_leftMenu .menu-item {
    z-index: 201;
    position: relative;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

#settings_leftMenu .menu-item span {
    position: absolute;
    left: 50px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
}

#settings_leftMenu .ico {
    height: 50px;
    width: 50px;
}

#settings_leftMenu .settings_active {
    background: url("../images/info/menu_active.png") repeat-x;
}

#settingsView .in_settings_view {
    position: absolute;
    top: 48px;
    left: 153px;
    width: 647px;
    height: 384px;
    float: left;
    z-index: 1001;
    margin-top: 70px;
}
#settingsView .rpc_settings_list,
#settingsView .policies_settings_list {
    height: 251px;
    width: 598px;
    left: 10px;
}
#rpc_settings_list .list-content .ffw-button,
#policies_settings_list .list-content .ffw-button {
    width: 537px;
    padding-left: 10px;
}

#settingsView .settingsButton {
    float: left;
    width: 536px;
    margin-right: 10px;
    height: 48px;
    font-size: 20px;
    line-height: 50px;
    border: 1px solid #393939;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}

#policies_settings_system_error .listSelect,
#policies_settings_status_info .listSelect {
    top: 125px;
    position: absolute;
    width: 150px;
    left: 320px;
    height: 40px;
    color: white;
    background: #393939;
}

#settingsView .in_HMIsettings_view,
#settingsView .in_light_view {
    position: absolute;
    top: 48px;
    left: 153px;
    width: 647px;
    height: 384px;
    float: left;
    z-index: 1001;
    margin-top: 70px;
}

#settingsView .in_seat_view {
    overflow: auto;
    position: absolute;
    top: 88px;
    left: 160px;
    width: 630px;
    height: 302px;
    float: left;
    z-index: 1001;
    margin-top: 70px;
    margin: 0px;
    background-color: black;
    border: 1px solid white;
}

#seat .in_seat_heating_view,
#seat .in_seat_cooling_view {
    z-index: 1001;
    margin: 5px;
    display: block;
    position: relative;
    border: 1px solid #fffafa;
    border-radius: 2px;
}

#seat .setButton{
    z-index: 1002;
    border: 2px solid white;
    height: 22px;
    text-align: center;
    line-height: 24px;
    display: block;
    position: sticky;
    top: 0;
    bottom: 0;
    margin: 20px 20px 20px 20px;
}

#seat .in_seat_cushionFirmness_view,
#seat .in_seat_massageModes_view {
    z-index: 1001;
    margin: 15px 5px 19px 5px;
    display: block;
    position: relative
}


#seat .in_seat_heating_view .in_seat_enable_view,
#seat .in_seat_heating_view .in_seat_level_view,
#seat .in_seat_cooling_view .in_seat_enable_view,
#seat .in_seat_cooling_view .in_seat_level_view {
    z-index: 1001;
    margin: 0px 0px 0px 0px;
    display: block;
    position: relative
}

#seat .in_seat_heating_view .enableLabel,
#seat .in_seat_cooling_view .enableLabel,
#seat .in_seat_backTiltAngle_view .label,   {
    display: inline-block;
    position: relative;
    z-index: 1001;
    margin: 0px 0px 0px 10px
}

#seat .in_seat_cushionFirmnes_view,
#seat .in_seat_massageMode_view {
    display: block;
    position: relative;
    z-index: 1001;
    margin: 0px 70px -2px 10px;
    background-color: black;
    border: 2px solid white;
}

#seat .in_seat_cushionFirmnes_view .in_seat_cushion_view,
#seat .in_seat_cushionFirmnes_view .in_seat_firmnes_view,
#seat .in_seat_massageModes_view .in_zone_view,
#seat .in_seat_massageModes_view .in_mode_view{
    z-index: 1001;
    margin: 0px 0px 0px 5px;
    display: block;
    position: relative
}

#seat .in_seat_cushionFirmnes_view .dellButton,
#seat .in_seat_massageModes_view .dellButton{
    z-index: 1002;
    top: 1px;
    left: 499px;
    background: black;
}

#seat .in_seat_cushionFirmness_view .addButton ,
#seat .in_seat_massageModes_view .addButton{
    z-index: 1002;
    top: -11px;
    left: 481px;
    border: 2px solid white;
    width: 50px;
    height: 22px;
    text-align: center;
    line-height: 24px;
}

#seat .in_seat_cushionFirmnes_view .in_seat_cushion_view .cushionLabal,
#seat .in_seat_cushionFirmnes_view .in_seat_firmnes_view .firmnesLabal,
#seat .in_seat_massageMode_view .zone_label,
#seat .in_seat_massageModes_view .in_mode_view .mode_label {
    z-index: 1001;
    margin: 2px 2px 2px 2px;
    width: 60px;
    display: inline-block;
    position: relative
}

#seat .in_seat_cushionFirmnes_view .in_seat_cushion_view .cushionSelect,
#seat .in_seat_cushionFirmnes_view .in_seat_firmnes_view .firmnesInput,
#seat .in_seat_massageMode_view .zone_select,
#seat .in_seat_massageModes_view .in_mode_view .mode_select {
    z-index: 1001;
    margin: 2px 2px 2px 159px;
    width: 141px;
    display: inline-block;
    position: relative
}

#seat .in_seat_heating_view .levelLabel,
#seat .in_seat_cooling_view .levelLabel{
    display: inline-block;
    position: relative;
    z-index: 1001;
    margin: 0px 0px 0px 20px
}

#seat .in_seat_heating_view .levelInput,
#seat .in_seat_level_view .levelInput  {
    display: inline-block;
    position: relative;
    z-index: 1001;
    margin: 0px 0px 0px 183px;
    width: 47px;
}


#seat .in_seat_heating_view .enableSelect,
#seat .in_seat_cooling_view .enableSelect {
    display: inline-block;
    position: relative;
    z-index: 1001;
    margin: 0px 0px 0px 241px
}

#seat .in_seat_position_view,
#seat .in_memory_view,
#seat .in_seat_backTiltAngle_view  {
    z-index: 1001;
    margin: 5px;
    display: block;
    position: relative;
    border: 1px solid #fffafa;
    border-radius: 2px;
}

#seat .in_seat_cushionFirmness_view .in_seat_cushionFirmnessLabel_view,
#seat .in_seat_massageModes_view .massageModeLabel,
#seat .in_memory_view .memoryLabel,
#seat .in_massageEnable_view,
#seat .in_id_view,
#seat .in_memory_view .in_memoryId_view,
#seat .in_memory_view .in_label_view,
#seat .in_memory_view .in_action_view,
#seat .in_seat_position_view .positionLabel,
#seat .in_seat_position_view .in_seat_horisontal_view,
#seat .in_seat_position_view .in_seat_vertical_view,
#seat .in_seat_position_view .in_seat_seatFrontVertical_view,
#seat .in_seat_position_view .in_seat_seatBackVertical_view,
#seat .in_seat_position_view .in_seat_headSupportHorizontal_view,
#seat .in_seat_position_view .in_seat_headSupportVertical_view {
    display: block;
    position: relative;
    z-index: 1001;
    margin: 0px 0px 0px 0px
}

#seat .in_seat_backTiltAngle_view .input{
    display: inline-block;
    position: relative;
    z-index: 1001;
    margin: 0px 0px 0px 241px;
    width: 47px;
}

#seat .in_memory_view .in_memoryId_view .inputId,
#seat .in_memory_view .in_label_view .inputLabel,
#seat .in_seat_horisontal_view .input,
#seat .in_seat_vertical_view .input,
#seat .in_seat_seatFrontVertical_view .input,
#seat .in_seat_seatBackVertical_view .input,
#seat .in_seat_headSupportHorizontal_view .input,
#seat .in_seat_headSupportVertical_view .input {
    display: inline-block;
    position: relative;
    z-index: 1001;
    margin: 0px 0px 0px 49px;
    width: 47px;
}

#seat .in_memory_view .in_action_view .actionSelect{
    display: inline-block;
    position: relative;
    z-index: 1001;
    margin: 0px 0px 0px 49px;
    width: 76px;
}

#seat .in_memory_view .applyMemory {
    z-index: 1001;
    left: 340px;
    width: 70px;
    top: -18px;
    text-align: center;
    border: 1px solid #fffafa;
    border-radius: 2px;
    position: relative;
}


 #seat .in_memory_view .memoryInfo {
    top: 18px;
    left: 300px;
    width: 300px;
    height: 20px;
}

#seat .in_memory_view .memoryInfo .createdMemStringLabel {
    left: 165px;
}

#seat .in_memory_view .in_memoryId_view .labelId,
#seat .in_memory_view .in_label_view .labelLabel,
#seat .in_memory_view .in_action_view .actionLabel,
#seat .in_seat_horisontal_view .label,
#seat .in_seat_vertical_view .label,
#seat .in_seat_seatFrontVertical_view .label,
#seat .in_seat_seatBackVertical_view .label,
#seat .in_seat_headSupportHorizontal_view .label,
#seat .in_seat_headSupportVertical_view .label {
    display: inline-block;
    position: relative;
    z-index: 1001;
    margin: 0px 0px 0px 22px;
    width: 170px 
}

#settingsView .HMI_settings_list,
#settingsView .light_list {
    height: 251px;
    width: 598px;
    left: 10px;;
}

#settingsView .lightModuleCurrent {
    position: relative;
    top: -15px;
    left: 10px;
}

#settingsView .settingsModuleCurrent {
    position: relative;
    top: -15px;
    left: 10px;
}

#HMI_settings_list .list-content .ffw-button,
#light_list .list-content .ffw-button {
    width: 537px;
    padding-left: 10px;
}

#seat .in_massageEnable_view .massageEnable_label,
#seat .in_id_view .idlabel {
    display: inline-block;
    position: relative;
    z-index: 1001;
    margin: 5px 0px 0px 5px;
    width: 170px 
}

#seat .in_massageEnable_view .massageEnable_enableSelect,
#seat .in_id_view .seatModelCurrent {
    display: inline-block;
    position: relative;
    z-index: 1001;
    margin: 0px 0px 0px 71px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
