/* Web Engine related control styles */

#webEngineView {
    position: absolute;
    top: 48px;
    width: 800px;
    height: 384px;
}

#webEngineView .WebEngineFrame {
    position: absolute;
    width: 800px;
    height: 384px;
}

#webEngineView #template_title_label {
    position: absolute;
    top: 357px;
    left: 175px;
    width: 460px;
    text-align: center;
    z-index: 1;
}
